<ul>
  <li
    *ngFor="let num of numList; let i = index"
    [@swapItem]="num.isActive ? 'active' : 'notActive'"
  >
    <img
      *ngIf="num.isCheck"
      class="top-arrow"
      src="https://img.icons8.com/officexs/30/000000/long-arrow-down.png"
    />
    <div
      appNumItem
      [value]="num.value"
      [ngClass]="num.isPivot ? 'pivot' : ''"
      [ngClass]="num.isDone ? 'done' : ''"
    >
      {{ num.value }}
    </div>
    <img
      *ngIf="num.isPivot"
      src="https://img.icons8.com/emoji/48/000000/index-pointing-up-light-skin-tone.png"
    />
  </li>
</ul>
<hr />
<button [disabled]="btnDisabled" (click)="sort()">Sort</button>|
<button [disabled]="btnDisabled" (click)="newNumbers()">New numbers</button>

